/**
 * Custom styles
 */

.reveal span .fragment {
  display: inline-block;
}

.reveal p.align-left,
.reveal h2.align-left,
.reveal h3.align-left,
.reveal h4.align-left{
  text-align: left;
}

.reveal h3 {
  text-align: left;
}

.reveal pre.small {
  font-size: 0.55em;
}


